import tkinter as tk

class HireStore:
    def __init__(self, master):
        self.master = master
        master.title("Julie's Party Hire Store")
        
        # create labels and entries for input
        self.label_name = tk.Label(master, text="Full Name")
        self.label_name.grid(row=0, column=0)
        self.entry_name = tk.Entry(master)
        self.entry_name.grid(row=0, column=1)